{% extends 'base.html' %}

{% block content %}
    <div>
        <img src="{{ events.image }}" class="event-imgs" alt="Image of event" />


    <div class="date-loc">
        {% for event in events %}
        <h2>{{ event.name }}</h2>
        <p>{{ event.address }}</p>
            <p>{{ event.date }}</p>
        {% endfor %}
    </div>
    </div>

    <div>
    <div>
    <p>event desc{{ events.description }}</p>
    </div>
    <p>{{ events.ticets_sold }}</p>
    <p>{{ events.ticets }}</p>
    </div>


{% endblock %}