{% extends 'base.html' %}

{% block content %}
    <div class="top-container-event">
    <div class="event-img-container">
            <img src="{{ event.image }}" class="event-imgs" alt="Image of event" />

        {% comment %}
        {% for image in event.image %}
                <img src="{{ image }}" class="event-imgs" alt="Image of event" />
            {% endfor %}
         {% endcomment %}
        </div>
    <div class="date-loc">
        <h2>{{ event.name }}</h2>
        <p>{{ event.address }}
        <br>{{ event.start }} - {{ event.end }}</p>
    </div>
    </div>
    <div class="bottom-container-event">
    <p class="event-detail-box">
        {{ event.desc }}
        {% comment %}
        {% for col in event.desc %}
        {{ col }}<br>
        {% endfor %}
        {% endcomment %}
    </p>
        <div class="event-detail-box more">
            <img class="detail-box-map" src="{{ event.image }}" alt="map" />
            <p>Total tickets:  {{ event.max }} <br>
                Sold tickets:  {{ event.tickets_amount }} <br>
                {% comment %} Tickets left: {{ events.tickets|sub:events.tickets_sold }} {% endcomment %} </p>
        </div>
        <br>
    </div>

    <div class="similar-events">
    <h2>Similar events</h2>
    {% for event in events %}
        {% include 'event/single_event.html' with event=event %}
    {% endfor %}
    </div>


{% endblock %}