{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <p id="path_url" class="invisible">{{ request.path }}</p>
    <div id="booking-body">
        <br> <br> <br> <br>

        <div class="center-div">
            <div class="booking-top-section">
                <div class="btn-div"><button disabled id="btn1" class="booking-nav-btn">1</button> <label class="booking-nav-btn-text" for="btn1">Select ticket(s)</label></div>
                <div class="btn-div"><button disabled id="btn2" class="booking-nav-btn">2</button> <label class="booking-nav-btn-text" for="btn1">Delivery</label></div>
                <div class="btn-div"><button disabled id="btn3" class="active-btn booking-nav-btn">3</button> <label class="active-text booking-nav-btn-text" for="btn1">Payment</label></div>
                <div class="btn-div"><button disabled id="btn4" class="booking-nav-btn">4</button> <label class="booking-nav-btn-text" for="btn1">Receipt</label></div>
            </div>
        </div>

        <br> <br> <br> <br>
        <div class="center-div">
            <div class="payment-container">
                <h3>Payment</h3>
                <h3>Event</h3>
            </div>
        </div>
        <div class="center-div">
            <div class="payment-container">
                <div class="with-border smallest-event-box">
                    <div class="delivery-content">
                        <div class="delivery-text" style="margin-left: -20px;">
                            <label>Cardholder name:</label> <br>
                            <label>Card number:</label><br>
                            <label>Expiration date:</label><br>
                        </div>
                        <div class="delivery-input">
                            <input id="name_on_card_input" required> <br>
                            <input id="card_number_input" required> <br>
                            <input id="expiration_date_input" type="number" style="width: 100px;" required>
                            <label style="margin-left: 34px;">CVC:</label>
                            <input id="cvc_input" type="number" style="width: 100px;" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="with-border no-grid">
                        <div id="myndogshit">

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <br>
        <div class="center-div">
            <div class="payment-container">
                <div>
                <div class="black smallest-event-box">
                    <div class="even-smaller-content">
                        <div>Type</div>
                        <div>Price</div>
                        <div>Amount</div>
                        <div>Total</div>
                    </div>
                </div>

        <br>

            <div class="with-border smallest-event-box">
                <div class="even-smaller-content">
                    <div id="ticket_type">
                    </div>
                    <div id="ticket_price">
                    </div>
                    <div id="ticket_amount">
                    </div>
                    <div id="total"></div>
                </div>
            </div>
                </div>
                <div>
                    <div class="with-border no-grid">
                        <div>
                            <div style="position: relative;">
                                <h4 style="position: absolute;left: 0">Total:</h4>
                                <h4 style="position: absolute;right: 0" id="totprice"></h4>
                            </div>
                            <br><br>
                            <p>*All Sales Final - No refunds</p>
                            <div class="checkbox-div">
                                <input type="checkbox" class="terms-checkbox" id="terms-checkbox" onclick="enable_butt()">
                                <p class="bottom-text">I read and agree
                                    <a href="" class="register-link">Terms & Conditions</a>
                                </p>
                            </div>

                        </div>
                        <br>
                        <button onclick="go_forward()" class="normal-butt" style="width: 100%;margin:0;" id="buy_button"> Place order</button>
                    </div>
                </div>
        </div>
        </div>

        <div class="button-cont">
            <button onclick="go_back()" class="normal-butt" style="left:-40px"> Back</button>

        </div>
        <br><br><br><br>
    </div>

    <form class="form form-horizontal" style="display: none" action="{% url 'select_payment' %}" method="post">
        {% csrf_token %}
        {% render_field form.tickets %}{% render_field form.name %}{% render_field form.email %}{% render_field form.phone %}{% render_field form.full_name %}{% render_field form.street %}{% render_field form.no %}{% render_field form.city %}{% render_field form.zip %}{% render_field form.country %}{% render_field form.eventid %}{% render_field form.userid %}{% render_field form.delivery_method %}{{ request.user.id|json_script:"user_id" }}
        {% render_field eventform.tickets_amount %}
        <button id ='submit_button' type="submit" name="save">Finish booking</button>
    </form>
    <script src="../../static/js/select_payment.js"></script>

{% endblock %}