{% extends 'base.html' %}
{% block content %}
    <p id="path_url" class="invisible">{{ request.path }}</p>
    <div id="booking-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Selecting Tickets</h1>
        <h1 >{{ event.name }}</h1>
        <h1> Prices </h1>
        {% for price in prices %}
        <h1 >{{ price }}</h1>
        {% endfor %}
        <h1> Types of tickets </h1>
        {% for type in types %}
        <h1 >{{ type }}</h1>
        {% endfor %}

        <input id='event_id' value=10 type="hidden">
        <button onclick="location.href='select_delivery'"> Continue</button>
    </div>


    <script src="../../static/js/select_tickets.js"></script>

{% endblock %}