{% extends 'base.html' %}
{% block content %}
    <p id="path_url" class="invisible">{{ request.path }}</p>
    <div id="booking-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Selecting Delivery</h1>


        <input id='event_id' value=10 type="hidden">
        <button onclick="location.href='select_tickets'"> Back</button>
        <button onclick="location.href='select_payment'"> Continue</button>
    </div>


    <script src="../../static/js/select_delivery.js"></script>

{% endblock %}