{% extends 'base.html' %}
{% block content %}
    <p id="path_url" class="invisible">{{ request.path }}</p>
    <div class="delivery-body" id="booking-body">
        <br><br><br><br>
        <div class="center-div">
            <div class="booking-top-section">
                <a href=""><div class="btn-div"><button id="btn1" class="booking-nav-btn">1</button> <label class="booking-nav-btn-text" for="btn1">Select ticket(s)</label></div></a>
                <a href=""><div class="btn-div"><button id="btn2" class="active-btn booking-nav-btn">2</button> <label class="active-text booking-nav-btn-text" for="btn1">Delivery</label></div></a>
                <a href=""><div class="btn-div"><button id="btn3" class="booking-nav-btn">3</button> <label class="booking-nav-btn-text" for="btn1">Payment</label></div></a>
                <a href=""><div class="btn-div"><button id="btn4" class="booking-nav-btn">4</button> <label class="booking-nav-btn-text" for="btn1">Receipt</label></div></a>
            </div>
        </div>
        <br><br><br><br>

        <div class="h-delivery">
        <h3>Information about buyer</h3>
        </div>
        <div class="center-div">
            <div class="with-border smallest-event-box">
                <div class="delivery-content">
                    <div class="delivery-text">
                        <label>*Name:</label>
                        <label>*Email:</label>
                        <label>*Phone:</label>

                    </div>
                    <div class="delivery-input">
                        <input id="name_input" required>
                        <input id="email_input" required>
                        <input id="phone_input" required>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="h-delivery">
        <h3>Delivery method</h3>
        </div>
        <div class="center-div">

            <div class="with-border smallest-event-box">
                    <div class="radio-select">
                        <input type="radio" id="select_electronic_ticket" name="ticket_type" value="electronic_ticket" checked>
                        <label for="select_electronic_ticket">Electronic Ticket</label>
                        <span class="checkmark"></span>
                        <input type="radio" id="select_postal_service" name="ticket_type" value="postal_service">
                        <label for="select_postal_service">Postal Service</label>
                        <span class="checkmark"></span><br>
                    </div>

                <div id="postal_service_div" style="display:none">
                    <br>
                    <div class="delivery-content">

                        <div class="delivery-text">
                            <label>Full Name:</label>
                            <label>Street:</label> <br>
                            <label>City:</label>
                            <label>Country:</label>
                        </div>
                        <div class="delivery-input">
                            <input id="full_name_input">
                            <input id="street_input" style="width:160px">
                            <label>No:</label>
                            <input id="no_input" type="number" style="width:88px">
                            <input id="city_input" style="width:160px">
                            <label>Zip:</label>
                            <input id="zip_input" type="number" style="width:85px">
                            <input id="country_input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="button-cont">
            <button onclick="go_back()" class="normal-butt" style="left:0"> Back</button>
            <button onclick="go_forward()" class="normal-butt" > Continue</button>
        </div>
    </div>

    <br><br><br><br><br>
    <script src="../../static/js/select_delivery.js"></script>

{% endblock %}