{% extends 'base.html' %}
{% block content %}

    <p id="path_url" style="display:none">{{ request.path }}</p>

    <div class="booking-body">
        <p id="event_name" style="display:none">{{ event.name }}</p><p id="event_address" style="display:none">{{ event.address }}</p><p id="event_start" style="display:none">{{ event.start }}</p><p id="event_max" style="display:none">{{ event.max }}</p><p id="event_prices" style="display:none">{{ event.prices }}</p><p id="event_end" style="display:none">{{ event.end }}</p><p id="event_tickets_amount" style="display:none">{{ event.tickets_amount }}</p><p id="event_desc" style="display:none">{{ event.desc }}</p><p id="event_image" style="display:none">{{ event.image }}</p><p id="event_lat" style="display:none">{{ event.lat }}</p><p id="event_long" style="display:none">{{ event.long }}</p>
        <br> <br> <br> <br>

        <div class="center-div">
            <div class="booking-top-section">
                <a href=""><div class="btn-div"><button id="btn1" class="active-btn booking-nav-btn">1</button> <label class="active-text booking-nav-btn-text" for="btn1">Select ticket(s)</label></div></a>
                <a href=""><div class="btn-div"><button id="btn2" class="booking-nav-btn">2</button> <label class="booking-nav-btn-text" for="btn1">Delivery</label></div></a>
                <a href=""><div class="btn-div"><button id="btn3" class="booking-nav-btn">3</button> <label class="booking-nav-btn-text" for="btn1">Payment</label></div></a>
                <a href=""><div class="btn-div"><button id="btn4" class="booking-nav-btn">4</button> <label class="booking-nav-btn-text" for="btn1">Receipt</label></div></a>
            </div>
        </div>

        <br> <br> <br> <br>

        <div class="center-div">
            <div class="black event-box">
                <div class="event-box-content">
                    <div>Event</div>
                    <div>Location</div>
                    <div>Price</div>
                    <div>Date</div>
                </div>
            </div>
        </div>


        <div class="center-div">
            <div class="purple event-box">
                <div class="event-box-content">
                    <div>Netherlands - Iceland</div>
                    <div>Laugardalsvöllur</div>
                    <div>6.990-12.990 kr</div>
                    <div>Sep 15, 2022</div>
                </div>
            </div>
        </div>




        <div class="center-div">
            <div class="black small-event-box">
                <div class="smaller-content">
                    <div>Type</div>
                    <div>Price</div>
                    <div>Amount</div>
                    <div>Total</div>
                </div>
            </div>
        </div>
        <br>
        <div class="center-div">
            <div class="with-border small-event-box">
                <div class="smaller-content">
                    <div id="ticket_type">
                    </div>
                    <div id="ticket_price">
                    </div>
                    <div class="ticket-amount" id="ticket_amount">
                    </div>
                    <div id="total"></div>
                </div>
            </div>
        </div>

        <br>

            <input id='event_id' value=10 type="hidden">
        </div>
    <div class="button-cont">
        <button class="cont-button" onclick="go_forward()"> Continue</button>
    </div>
    </div>

    <br> <br> <br>

    <script src="../../static/js/select_tickets.js"></script>

{% endblock %}