{% extends 'base.html' %}
{% block content %}
    <p id="path_url" class="invisible">{{ request.path }}</p>
    <div id="booking-body">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Selecting Payment</h1>


        <input id='event_id' value=10 type="hidden">
        <button onclick="go_back()"> Back</button>
        <button onclick="go_forward()"> Continue</button>
    </div>

    <form action="{% url 'finish_booking' %}" method="post">
        {% csrf_token %}
    {{ form }}
    <button type="submit", name="save">Finish booking</button>
    </form>
    <script src="../../static/js/select_payment.js"></script>

{% endblock %}