{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/mytickets.css" %}"/>

    <div class="pop-up-window">
        <div class="pop-up-top">
            <h2>Birnir</h2>
            <h5>Gróttuhöllin</h5>
            <h5>21. júní 2022, 22:00 - 22. júní 2022, 01:00</h5>
            <div class="center-div"><hr></div>
        </div>

        <div class="center-div">
            <div class="with-margin black small-ticket-box">
                <div class="popup-content-box">
                    <div>Type</div>
                    <div>Price</div>
                    <div>Amount</div>
                    <div>Total</div>
                </div>
            </div>
        </div>

        <div class="center-div">
            <div class="with-border small-ticket-box">
                <div class="popup-content-box">
                    <div class="grid-item"> ZoneA </div>
                    <div class="grid-item"> 199.999 ISK </div>
                    <div class="amount grid-item"> 1 </div>
                    <div class="grid-item"> 2.000 ISK </div>
                    <div class="grid-item"> ZoneA </div>
                    <div class="grid-item"> 2.000 ISK </div>
                    <div class="amount grid-item"> 1 </div>
                    <div class="grid-item"> 2.000 ISK </div>

                    <div class="grid-item">  </div>
                    <div class="grid-item">  </div>
                    <div class="amount grid-item">  </div>
                    <div class="sum grid-item"> 2.000.000 ISK </div>

                </div>

            </div>
        </div>



    </div>

    <br> <br> <br> <br> <br>
    <div id="my-tickets-body" class="my-tickets-body">

        <div class="my-tickets-top">
            <button disabled id="upcoming" class="active-btn my-tickets-btn" onclick="location.href='my_tickets_upcoming'">Upcoming</button>
            <button id="past" class="my-tickets-btn" onclick="location.href='my_tickets_past'">Past</button>
        </div>
        <hr>

        <h3 id="you-have-title" class="you-have-title"></h3>

        <div id="ticket-box-div" class="center-div">

        </div>
        <br> <br> <br> <br> <br> <br> <br> <br>

        <div id="events" style="display: none">
            {% for event in events %}
                {{ event.name }}///
                {{ event.address }}///
                {{ event.start }}///
                {{ event.prices }}///
                {{ event.image }}///
                {{ event.id }}///
                {{ event.end }}&&&
            {% endfor %}
        </div>
        <div id="bookings" style="display: none">
            {% for booking in bookings %}
                {{ booking.id }}///
                {{ booking.tickets }}&&&
            {% endfor %}
        </div>


    </div>

    <script src="../../static/js/myticket.js"></script>
{% endblock %}