{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/mytickets.css" %}"/>

    <br> <br> <br> <br> <br>
    <div id="my-tickets-body" class="my-tickets-body">

        <div class="my-tickets-top">
            <button disabled id="upcoming" class="active-btn my-tickets-btn" onclick="location.href='my_tickets_upcoming'">Upcoming</button>
            <button id="past" class="my-tickets-btn" onclick="location.href='my_tickets_past'">Past</button>
        </div>
        <hr>

        <h3 id="you-have-title" class="you-have-title"></h3>

        <div id="ticket-box-div" class="center-div">

        </div>
        <br> <br> <br> <br> <br> <br> <br> <br>

        <div id="events" style="display: none">
            {% for event in events %}
                {{ event.name }}///
                {{ event.address }}///
                {{ event.start }}///
                {{ event.prices }}///
                {{ event.image }}///
                {{ event.id }}&&&
            {% endfor %}
        </div>
        <div id="bookings" style="display: none">
            {% for booking in bookings %}
                {{ booking.id }}///
                {{ booking.tickets }}&&&
            {% endfor %}
        </div>


    </div>

    <script src="../../static/js/myticket.js"></script>
{% endblock %}