{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/mytickets.css" %}"/>

    <br> <br> <br> <br> <br>
    <div id="my-tickets-body" class="my-tickets-body">

        <div class="my-tickets-top">
            <button id="upcoming" class="active-btn my-tickets-btn" onclick="location.href='my_tickets_upcoming'">Upcoming</button>
            <button id="past" class="my-tickets-btn" onclick="location.href='my_tickets_past'">Past</button>
        </div>
        <hr>

        <h3 id="you-have-title" class="you-have-title"></h3>

        <div id="ticket-box-div" class="center-div">

{% comment %}            <div class="ticket-box">

                <div class="event-ticket-box">'
                    <div class="event-ticket-img" style='background:url(../../static/images/sturla2.jpeg)
                    <img class="event-ticket-img" src="../../static/images/sturla2.jpeg">
                    <div class="event-ticket-info">
                        <h3 class="event-ticket-title">Birnir</h3>
                        <h5>Location:  Gróttuhöllin</h5>
                        <h5>Date:  21. júní 2022, 22:00-12:00</h5>
                        <br> <br> <br>
                        <h6>Booking number: 123</h6>
                    </div>
                    <div class="view-ticket-img-div"><img class="view-ticket-img" src="../../static/images/view-ticket.png"></div>
                </div>

                <br> <br>

            </div>{% endcomment %}

        </div>
        <br> <br> <br> <br> <br> <br> <br> <br>

        <dpsn id="events" style="display: none">
            {% for event in events %}
                {{ event.name }}///
                {{ event.address }}///
                {{ event.start }}///
                {{ event.prices }}///
                {{ event.image }}&&&
            {% endfor %}
        </dpsn>
        <div id="bookings" style="display: none">
            {% for booking in bookings %}
                {{ booking.id }}///
                {{ booking.tickets }}&&&
            {% endfor %}
        </div>





    </div>

    <script src="../../static/js/myticket.js"></script>
{% endblock %}