{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}"/>
    <link rel="stylesheet" href="{% static "css/user.css" %}"/>

    <form class="form from-horizontal" method="post" enctype="multipart/form-data">
    <div class="profile-top-container">
        <div class="img-n-e-container">
            <div>
                {% csrf_token %}
                {% if user.image %}
                    <img class="profile-img" src="{{ user.image.url }}" alt="User Profile Image" />
                {% else %}
                    <img class="profile-img" src="../../static/images/empty_profile.png" alt="User Profile Image" />
                {% endif %}

                <input id="upload-btn" class="img-add-button" type="file" name="image" accept="image/*">
                <label for="upload-btn" class="img-add-button"><span>+</span></label>
            </div>

            <br>
            <br>
            <div class="input-box" id="user-box">
                <img src="../../static/images/profile-icon-purple.png" alt="user icon" id="user-icon">
                <input id="username-box-input" type="text" class="input-text" placeholder="Name: {{ user.first_name }}" name="first_name">
            </div>
            <div class="input-box" id="mail-box" style="background-color: #BDBDBD">
                <img src="../../static/images/mail-icon-purple.png" alt="mail icon" id="mail-icon">
                <input id="mail-box-input" type="text" class="input-text" placeholder="E-mail: {{ user.email }}" name="username" disabled style="background-color: #BDBDBD">
            </div>


        </div>

        <div class="fav-cat-container">
            <h3>Favorite categories</h3>
            <div class="fav-cats" id="favorite_categories" nowFav="{{ user.favorite_categories }}" allFav="{{ user.all_favcat_as_list }}">

                <select class="fav-cat add-cat" id="fav-dropdwn">
                    <option>Add category</option>
                </select>
            </div>
        </div>

    </div>

    <div class="butt-container">
        <input type="submit" class="save-button" value="Save" />
    </div>

    <div class="similar-events">
        <h2>Events for you</h2>
    </div>


        <div class="field" style="display: none">
        <label class="label">Favorite Categories:</label>
        {% render_field form.favorite_categories %}
        </div>

{% comment %}        <div class="image_field">
            DJANGO ER RUSL
        <input type="file" name="image" accept="image/*" id="id_image">
        </div>{% endcomment %}

        <input type="submit" class="btn btn-primary" value="Update" />
    </form>

    <script src="../../static/js/profile.js"></script>


{% endblock %}