<div class="option-wrapper">
    <div class="option-rows">

            <div class="option-no-hover" onclick="location.href='{{ 'sports' }}'" style="background-image: url('../../static/images/cat1.jpg')">
                <div class="img-overlay">
                    <div class="sameline">
                        <p class="img-overlay-text">Sports</p>
                    </div>
                </div>
            </div>

            <div class="option-no-hover" onclick="location.href=location.href='{{ 'concert' }}'" style="background-image: url('../../static/images/cat2.jpg')">
                <div class="img-overlay">
                    <div class="sameline">
                        <p class="big-text img-overlay-text">Concerts</p>
                    </div>
                </div>
            </div>

            <div class="option-no-hover" onclick="location.href=location.href='{{ 'theater' }}'" style="background-image: url('../../static/images/cat3.jpg')">
                <div class="img-overlay">
                    <div class="sameline">
                        <p class="big-text img-overlay-text">Theater</p>
                    </div>
                </div>
            </div>

            <div class="option-no-hover" onclick="location.href=location.href='{{ 'all_events' }}'" style="background-image: url('../../static/images/cat4.jpg')">
                <div class="img-overlay">
                    <div class="sameline">
                        <p class="big-text img-overlay-text">All events</p>
                    </div>
                </div>
            </div>

    </div>
</div>




