{% extends 'base.html' %}
{% block content %}
    {% include 'menu/menu-navbar.html' %}

    <h1>Menu</h1>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>
    <p>YO</p>

{% endblock %}