{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'menu/menu-navbar.html' %}

    <br>
    <br>
    <br>

    <div id="menu-body">
        <h1 class="menu-title">Most popular</h1>
        <div class="menu-options">

            <div class="option" style="background-image: url('../../static/images/sturla1.jpeg')">
                <div class="img-overlay">
                    <p class="big-text img-overlay-text">Sturla Atlas release party</p>
                    <p class="small-text img-overlay-text">February 29th</p>
                </div>
            </div>

            <div class="option" style="background-image: url('../../static/images/sturla2.jpeg')">
                <div class="img-overlay">
                    <p class="big-text img-overlay-text">Sturla Atlas release party</p>
                    <p class="small-text img-overlay-text">February 29th</p>
                </div>
            </div>

            <div class="option" style="background-image: url('../../static/images/sturla3.jpeg')">
                <div class="img-overlay">
                    <p class="big-text img-overlay-text">Sturla Atlas release party</p>
                    <p class="small-text img-overlay-text">February 29th</p>
                </div>
            </div>

            <div class="option" style="background-image: url('../../static/images/sturla4.jpeg')">
                <div class="img-overlay">
                    <p class="big-text img-overlay-text">Sturla Atlas release party</p>
                    <p class="small-text img-overlay-text">February 29th</p>
                </div>
            </div>

        </div>

        <br>
        <h1 class="menu-title">Selling out</h1>
        <div class="menu-options">
            <div class="option"></div>
            <div class="option" style="background-color:blue"></div>
            <div class="option"></div>
            <div class="option" style="background-color:blue"></div>
        </div>
    </div>








{% endblock %}
