{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'menu/menu-navbar.html' %}
    {% include 'menu/menu-searchbar.html' %}
    <head>
    <title>Map</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/map.css" />
    </head>
    <body>
    <h3 style="margin-left:5%;">Events around the Globe!</h3>

    <div id="map"></div>



    <div id="event_ids" style="display:none">{% for event in events %}{{ event.id }}°{% endfor %}</div>
    <div id="event_names" style="display:none">{% for event in events %}{{ event.name }}°{% endfor %}</div>
    <div id="event_lats" style="display:none">{% for event in events %}{{ event.lat }}°{% endfor %}</div>
    <div id="event_longs" style="display:none">{% for event in events %}{{ event.long }}°{% endfor %}</div>

    <br><br>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_pW9Fd6hstpL9qABONoGDfzxICm4McE8&callback=initMap&v=weekly" async></script>
    <script src="../../static/js/map.js"></script>
    </body>

{% endblock %}