.booking-body {
    margin-left: 40px;
    margin-right: 40px;
}

.booking-top-section {
    display: grid;
    white-space: nowrap;
    grid-template-columns: auto auto auto auto;
    grid-gap: 60px;
}

.booking-nav-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;

    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;

    font-size: 30px;
    background-color: #989898;
    /*border: 3px solid black;*/
    border: none;
    color: white;
    font-weight: bold;
    /*color: #989898;*/
}

.btn-div {
    display: flex;
    align-items: center;
}

.booking-top-section a {
    text-decoration: none;
}

.active-btn {
    background-color: #561357 !important;
    color: white;
    font-weight: bold;
}

.booking-nav-btn-text {
    margin-left: 10px;
    font-size: x-large;
    color: #989898;
    font-weight: bold;
    cursor:pointer
}

.active-text {
    font-weight: bold;
    color: black !important;
}

.center-div {
    display: flex;
    justify-content: center;
}


.event-box {
    width: 1000px;
    height: 60px;
}

.small-event-box{
    width: 800px;
    padding: 15px 0;
}

.event-box-content {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 270px 240px 240px 240px;
    font-weight: bold;
    font-size: 20px;
}

.smaller-content{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 230px 185px 185px 185px;
    font-weight: bold;
    font-size: 20px;
}

.amount {
    margin: 3px 100px 3px 3px;
    text-align: center;
}

.black {
    height: 30px;
    color: black;
    background-color: white;
}

.purple {
    color: white;
    background-color: #561357;
    display: flex;
    align-items: center;
}

.with-border {
    color: black;
    background-color: #D7D0D7;
    width: 800px;
    border: 4px solid #561357;
}


.button-cont{
    width: 1000px;
    position: relative;
    margin: auto;
}

.cont-button  {
        position: absolute;
    right: 0;
    color: rgba(255, 255, 255, 1);
  background: rgba(86, 19, 87, 1);
  width: 200px;
  font-size: 2em;
  cursor: pointer;
  border-radius: 0.4em;
    border: none;
}

.ticket-amount input[type=number] {
    color: #FFFFFF;
    background-color: #561357;
  border: none;
  font-weight: bold;
  text-align: center;
    margin: 300px 0;
    max-width: 50px;
}
