/* Everything for the navbar: */
.navbar {
  background-color: #561357;
  z-index: 1;
  height: 66px;
}

#bar-logo {
  width: 60px;
  margin-top: -2px;
}

.navbar-option {
  color: white;
  font-weight: bold;
  font-size: large;
  position: fixed;
  top: 0;
  height: 66px;
  width: 120px;
  line-height: 66px;
  text-align: center;
  cursor: pointer;
  z-index: 100;
}

.navbar-option:hover {
  background-color: white;
  color: black;
  font-size: x-large;
  transition: color 0.1s ease-in-out, font-size 0.5s ease-in-out, background-color 0.3s ease-in-out;
/*  color: yellow;
  font-size: x-large;
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;*/
}

#sports {
  left: 120px;
}

#concerts {
  left: 240px;
}

#theater {
  left: 360px;
}

#family {
  left: 480px;
}

#map-btn {
  left: 600px;
}

#more-btn {
  right: 50px;
}

#login-btn {
  right: 170px;
}

#register-btn {
  right: 290px;
}

#logout-btn {
  right: 290px;
}

#myacc-btn {
  right: 170px;
  width: 120px;
}

/* Everything for the footer: */
.footer-background {
/*  background-color: lightgray;*/
  background-color: rgb(215,208,215);
  padding-top: 5px;
}

.footer-logo {
  width: 100px;
}




