.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #561357;

}

navoption {
  float: left;
}

navoption a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

navoption:hover {
  background-color: white;
  color: black;
}

þ