.navbar {
  background-color: #561357;
}

.navbar-option {
  color: white;
  font-weight: bold;
  font-size: large;
  position: fixed;
  top: 0;
  height: 66px;
  width: 120px;
  line-height: 66px;
  text-align: center;
  left: 120px;
}

.navbar-option:hover {
  background-color: white;
  color: black;
  font-size: x-large;
}

#sports {
  left: 120px;
}

#concerts {
  left: 240px;
}

#theater {
  left: 360px;
}

#family {
  left: 480px;
}

.auth-btn {
  background-color: red;
  position: fixed;
  top: 0;
}