.my-tickets-body {
    margin-left: 5%;
    margin-right: 5%;
}

.pop-up-active {
    filter: blur(6px);
    pointer-events: none;
    z-index: 1;
    transition: filter 0.3s ease-in-out;
}

.pop-up-window-active {
    display: block !important;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}

.pop-up-window {
    display: none;
    background-color: white;
    border: 5px solid black;
    border-radius: 40px;
    width: 700px;
    min-height: 200px;
    height: fit-content;
    position:fixed;
    top: calc(50% - 250px);  /*half of height*/
    left: calc(50% - 350px); /*half of width*/
    z-index: 100;
    padding-bottom: 30px;
}

.pop-up-top {
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 20px;
}

.pop-up-top hr {
    margin-top: 8px;
    width: 650px;
    border: 2px solid #561357;
}

.small-ticket-box {
    width: 600px;
    padding: 15px 0;
}

.popup-content-box {
    margin-left: 28px;
    display: grid;
    grid-template-columns: 120px 160px 140px 190px;
    font-weight: bold;
    font-size: 20px;
}

.grid-item {
    margin-bottom: 10px
}

.amount {
    margin-left: 24px;
}

.sum {
    padding-top: 15px;
    border-top: 4px solid black;
    width: 70%;
}

.total-margin {
    margin-top: 3px;
}

.with-margin {
    margin-bottom: 20px !important;
}

.my-tickets-top {
    display: flex;
}

.my-tickets-btn {
    background-color: white;
    border: none;
    font-size: x-large;
    height: 45px;
    font-weight: bold;
}

.my-tickets-btn:hover {
    background-color: #D7D0D7;
}

#upcoming {
    width: 170px;
}

#past {
    width: 100px;
}

hr {
    background-color: #561357;
    margin-top: 0px;
    opacity: 1;
    border: 3px solid #561357;
}

.you-have-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ticket-box {
    min-height: 300px;
    width: 90%;
    min-width: 1100px;
    background-color: #D7D0D7;
    height: fit-content;
    display: flex;
    flex-wrap:wrap;
    border: 4px solid #561357;
    padding-bottom: 50px;
}

.event-ticket-box {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 240px;
    background-color: #561357;
    flex-basis: 100%;
    box-shadow: 3px 4px 4px black;
    display: grid;
    grid-template-columns: 400px auto auto;
    cursor: pointer;
}

.event-ticket-img {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
/*    width: 400px !important;*/
}

.event-ticket-info {
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}

.event-ticket-title {
    font-size: xx-large;
    font-weight: bold;
}

.view-ticket-img {
    height: 220px;
    transition: transform .2s;
}

.view-ticket-img:hover {
    transform: scale(1.1);
}

.view-ticket-img-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}