.my-tickets-body {
    margin-left: 5%;
    margin-right: 5%;
/*!*    filter: blur(5px);*/
/*    z-index: 1;*!*/
}

/*.event-popup {
    z-index: 2;
}*/

.my-tickets-top {
    display: flex;
}

.my-tickets-btn {
    background-color: white;
    border: none;
    font-size: x-large;
    height: 45px;
    font-weight: bold;
}

.my-tickets-btn:hover {
    background-color: #D7D0D7;
}

#upcoming {
    width: 170px;
}

#past {
    width: 100px;
}

hr {
    background-color: #561357;
    margin-top: 0px;
    opacity: 1;
    border: 3px solid #561357;
}

.you-have-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ticket-box {
    min-height: 300px;
    width: 90%;
    min-width: 1100px;
    background-color: #D7D0D7;
    height: fit-content;
    display: flex;
    flex-wrap:wrap;
    border: 4px solid #561357;
}

.event-ticket-box {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 240px;
    background-color: #561357;
    flex-basis: 100%;
    box-shadow: 3px 4px 4px black;
    display: grid;
    grid-template-columns: 400px auto auto;
}

.event-ticket-img {
    height: 240px;
}

.event-ticket-info {
    margin-top: 10px;
    color: white;
}

.event-ticket-title {
    font-size: xx-large;
    font-weight: bold;
}

.view-ticket-img {
    height: 220px;
}

.view-ticket-img-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}