.profile-top-container{
    display: flex;
    margin: 100px auto 0px;
    max-width: 1500px;

}
.img-n-e-container{
    margin: 0 40px;
    background-color: #D7D0D7;
    border: 6px solid #561357;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    width: 500px;
}

.fav-cat-container{
    flex-grow: 1;
    margin-right:40px;
    background-color: #D7D0D7;
    border: 6px solid #561357;
    border-radius: 20px;
    min-width: 400px;
    padding: 40px;

}

.fav-cats{
    margin:auto;
    border: 6px solid #561357;
    border-radius: 10px;
    padding: 20px;
    min-height: 450px;
    background-color: #FFFFFF;
    position: relative;
}

.fav-cat{
    display: inline-block;
    background-color: #784279;
    border-radius: 10px;
    padding: 5px 10px 5px 30px;
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
    width: auto;
}

.del-fav-btn{
    color: #784279;
    padding-left: 10px;
    text-decoration: none;
}

.fav-cat:hover .del-fav-btn{
    color: white;
}

.del-fav-btn:hover{
    cursor: pointer;
}

.add-cat{
    position:absolute;
    right: 20px;
    bottom: 20px;
    padding-left: 10px;
}

.profile-img{
    width: 100%;
    border: 6px solid #561357;
    aspect-ratio: 5/3;
    object-fit: cover;
    height: 350px;
}

.img-add-button{
    width: 90px;
    height: 90px;
    background-color: #FFF;
    border: 6px solid #561357;
    position: absolute;
    border-radius: 50%;
    right:15px;
    top: 315px;
    cursor: pointer;
}

.img-add-button span{
    color: #561357;
    font-size: 6em;
    font-weight: bold;
    top: -45px;
    left:5px;
    position: relative;

}

.butt-container {
    display: flex;
    margin: 30px auto 50px;
    max-width: 1500px;
    position: relative;
    min-height: 50px;
}

.save-button {
    position: absolute;
    right: 40px;
    color: rgba(255, 255, 255, 1);
    background: #561357;
    width: 200px;
    font-size: 2em;
    cursor: pointer;
    border-radius: 0.4em;
    border: none;
}

.save-button:hover {
    background-color: #3B0D3C;
}

.input-box .input-text {
    width: 320px;
}

.img-n-e-container .input-box {
    width: 420px !important;
}