/* Everything for the login/registration pages: */
#big-bar {
  background-color: #561357;
  width:100%;
  overflow:hidden;
  height: 120px;
}

#loginreg-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 12px 0;
}

.big-box {
  width: 600px;
  background-color: RGB(215,208,215);
  border-radius: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 9px rgba(0,0,0,0.22);
}

#big-box-login {
  height: 300px;
}

#big-box-register {
  height: 480px;
}

.title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  padding-top: 14px;
}

.input-box {
  width: 500px;
  height: 60px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  position: relative;
}

.input-text {
  border: none transparent;
  outline: none;
  height: 50px;
  width: 395px;
  font-size: x-large;
  margin-left: 75px;
  margin-top: 4px
}

.input-text::placeholder {
  color: #561357;
}

#mail-icon {
  width: 75px;
  position: absolute;
  margin-top: -8px;
}

#pw-box {
  margin-top: 20px;
}

#user-box {
  margin-bottom: 20px;
}

#user-icon {
  width: 45px;
  position: absolute;
  margin-top: 8px;
  margin-left: 16px;

}

#pw-icon {
  width: 45px;
  margin-top: 7px;
  margin-left: 15px;
  position: absolute;
}

#forgot-pw {
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration:none;
  color: #561357;
  position: relative;
  left: 65px;
  top: 12px;
}

#forgot-pw:hover {
  color: #3B0D3C;
}

.logreg-btn {
  width: 320px;
  height: 50px;
  background-color: #561357;
  margin-top: 20px;
  display: block;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.logreg-btn:hover {
  background-color: #3B0D3C;
}

.logreg-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-text {
  font-family: sans-serif;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  margin-top: 12px;
}

.register-link {
  text-decoration:none;
  color: #561357;
}

.register-link:hover {
  color: #3B0D3C;
}

#checkbox-div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#terms-checkbox {
  width:30px;
  height:30px;
  border-radius:5px;
  margin-top: 6px;
  margin-right: 8px;
  border: #561357 2px solid;
  background-color: white;
  -webkit-appearance:none;
}

#terms-checkbox:checked {
  -webkit-appearance: checkbox;
  accent-color: #561357;
}

.error-box {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: large;
  width: 700px;
  height: 50px;
  line-height: 50px;
  background-color: #f8abab;
  border: 3px red solid;
  border-radius: 8px;
  margin: 18px auto -10px;
  text-align: center;
  vertical-align: center;
}

#error-message {
   margin: 0;
}

.red-box {
  border: red 2px solid; !important;
  margin-top: -2px; !important;
  margin-bottom: -2px; !important;
}