<nav class="fixed-top py-0 navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id=barlogo alt="Brand" src="../static/images/eventdriven-logo.png">
      </a>

        {% if  user.is_authenticated  %} {% comment %}if the user is logged, the user icon is shown{% endcomment %}
            <div class="navbar-option" id="myacc-btn">My account</div>
            <a href={% url 'logout' %}>
            <div class="navbar-option" id="logout-btn">Logout</div>
            </a>
            {% comment %}muna að setja profile image!!!!!!!!!!{% endcomment %}
        {% else %} {% comment %}if not, the login and register buttons are shown{% endcomment %}
            <a href={% url 'login' %}>
                <div class="navbar-option" id="login-btn">Login</div>
            </a>
            <a href={% url 'register' %}>
                <div class="navbar-option" id="register-btn">Register</div>
            </a>

        {% endif %}

    <div class="navbar-option" id="more-btn" onclick="">More</div>

    </div>
  </div>
</nav>



