<nav class="fixed-top navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id=bar-logo alt="Brand" src="../static/images/eventdriven-logo.png">
      </a>

        {% if  user.is_authenticated  %} {% comment %}if the user is logged, the user icon is shown{% endcomment %}
            {% csrf_token %}
            <a href={% url 'profile' %}>
                <div class="navbar-option" id="myacc-btn">Profile</div>
            </a>
            <a href={% url 'logout' %}>
                <div class="navbar-option" id="logout-btn">Logout</div>
            </a>

        {% else %} {% comment %}if not, the login button is shown{% endcomment %}
            <a href={% url 'login' %}>
                <div class="navbar-option" id="login-btn">Login</div>
            </a>

        {% endif %}

    <div class="navbar-option" id="more-btn" onclick="">More</div>

    </div>
  </div>
</nav>

