<nav class="py-0 navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img id=barlogo alt="Brand" src="../static/images/eventdriven-logo.png">
      </a>
        {% if true %} {% comment %}if the user is logged, the user icon is shown{% endcomment %}
        {% else %} {% comment %}if not, the login and register buttons are shown{% endcomment %}
            <div class="auth-btn" id="loginbtn">Login</div>
            <div class="auth-btn" id="registerbtn">Register</div>
        {% endif %}


    </div>
  </div>
</nav>



